body {
  text-align: center;
}

.App {
  margin: 0 auto;
  max-width: 75vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

button {
  width: 130px;
  height: 130px;
}